Libs/NodeJS
Libs/ZenCoreCLR/bin
Elements/ZenCsScriptWrapper/bin
ZenComputingEngine.code-workspace
Elements/ZenCounter/bin
Elements/ZenDebugWrapper/bin
Elements/ZenElementsExecuterWrapper/bin
Elements/ZenSleep/bin
Elements/ZenStart/bin
ZenCommon/bin
ZenEngine/bin
ZenEngine/project
ZenEngine/tmp
ZenCommon/Compile.txt
Elements/ZenLicenceCheckerWrapper/bin
Elements/ZenWebServerWrapper/bin
ZenEngine/Views/Home/Privacy2.cshtml
ZenEngine/Views/_ViewImports.cshtml
ZenEngine/Views/_ViewStart.cshtml
ZenEngine/Views/Home/About.cshtml
ZenEngine/Views/Home/Contact.cshtml
ZenEngine/Views/Home/Index.cshtml
ZenEngine/Views/Home/Privacy.cshtml
ZenEngine/Views/Shared/_CookieConsentPartial.cshtml
ZenEngine/Views/Shared/_Layout.cshtml
ZenEngine/Views/Shared/_ValidationScriptsPartial.cshtml
ZenEngine/wwwroot/favicon.ico
ZenEngine/wwwroot/css/site.css
ZenEngine/wwwroot/css/site.min.css
ZenEngine/wwwroot/images/banner1.svg
ZenEngine/wwwroot/images/banner2.svg
ZenEngine/wwwroot/images/banner3.svg
ZenEngine/wwwroot/js/site.js
ZenEngine/wwwroot/js/site.min.js
ZenEngine/wwwroot/lib/bootstrap/.bower.json
ZenEngine/wwwroot/lib/bootstrap/LICENSE
ZenEngine/wwwroot/lib/bootstrap/dist/css/bootstrap.css
ZenEngine/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css
ZenEngine/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.css.map
ZenEngine/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.min.css
ZenEngine/wwwroot/lib/bootstrap/dist/css/bootstrap-theme.min.css.map
ZenEngine/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
ZenEngine/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
ZenEngine/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
ZenEngine/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.eot
ZenEngine/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.svg
ZenEngine/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf
ZenEngine/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff
ZenEngine/wwwroot/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2
ZenEngine/wwwroot/lib/bootstrap/dist/js/bootstrap.js
ZenEngine/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
ZenEngine/wwwroot/lib/bootstrap/dist/js/npm.js
ZenEngine/wwwroot/lib/jquery/.bower.json
ZenEngine/wwwroot/lib/jquery/LICENSE.txt
ZenEngine/wwwroot/lib/jquery/dist/jquery.js
ZenEngine/wwwroot/lib/jquery/dist/jquery.min.js
ZenEngine/wwwroot/lib/jquery/dist/jquery.min.map
ZenEngine/wwwroot/lib/jquery-validation/.bower.json
ZenEngine/wwwroot/lib/jquery-validation/LICENSE.md
ZenEngine/wwwroot/lib/jquery-validation/dist/additional-methods.js
ZenEngine/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
ZenEngine/wwwroot/lib/jquery-validation/dist/jquery.validate.js
ZenEngine/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
ZenEngine/wwwroot/lib/jquery-validation-unobtrusive/.bower.json
ZenEngine/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
ZenEngine/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
ZenEngine/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
/Elements/ZenGwSystemInfoWrapper/bin/Debug
/ZenEngine/_oldroot
/ZenEngine/ZenSystemContent
/ZenEngine/project_old/9024bb0d-137e-4a99-2167-7b5875404b01
/ZenEngine/nancy
/ZenEngine/NETCoreRuntime
/Elements/ZenHttpRequestWrapper/bin/Debug
/Elements/ZenGwSystemInfoWrapper/bin/Release
/Elements/ZenHttpRequestWrapper/bin/Release
/ZenCommon/zip.obj
/ZenCommon/encode.obj
/ZenCommon/decode.obj
/ZenCommon/cJSON.obj
/Elements/ZenZWave/bin/Debug
/libs/ZenZWaveCommon/Debug
/libs/ZenZWaveCommon/.vs/ZenZWaveCommon/v15
/libs/ZenZWaveCommon/x64
/libs/open-zwave/cpp/build/windows/vs2010/OpenZWave.vcxproj.user
/libs/open-zwave/cpp/build/windows/vs2010/.vs/OpenZWave/v15
/libs/open-zwave/cpp/build/windows/vs2010/x64/ReleaseDLL/OpenZWave.ilk
/libs/ZenZWaveCommon/libs/x64/Debug/ZenZWaveCommon.ilk
/libs/ZenZWaveCommon/libs/x64/Release/ZenZWaveCommon.iobj
/libs/ZenZWaveCommon/libs/x64/Release/ZenZWaveCommon.ipdb
/out
bin
ZenEngine/assets
ZenEngine/Implementations
libs/ZenEngine/ZenEngine.obj
libs/ZenEngine/ZenEngine.pdb
libs/ZenEngine/ZenEngine.ilk
libs/ZenEngine/ZenEngine.dll.intermediate.manifest
libs/ZenEngine/vc141.idb
libs/ZenEngine/vc141.pdb
libs/ZenEngine/ini.obj
libs/ZenEngine/pthreadGC2.dll
ZenEngine/Settings.ini
ZenEngine/elements.compiled
/libs/cpython
ZenEngine/Py/cpython
libs/python/build
libs/python_build
make/out/
make/libZenCommon.so
make/libZenCoreCLR.so
make/make_tmp.sh
make/Settings.ini
make/ZenEngine
ZenEngine/Py
ZenEngine/PythonCS.compiled
libs/Python37
make/libpython3.7m.so
make/Py
make/NETCoreRuntime
make/Implementations
make/elements.compiled
make/_
ZenEngine/db.txt
libs/ZenCommon/lib_msvc/1.0.0.0/ZenCommon.dll
libs/ZenCommon/lib_msvc/1.0.0.0/ZenCommon.lib
libs/ZenCoreCLR/lib/1.0.0.0/ZenCoreCLR.lib
libs/ZenCoreCLR/lib/1.0.0.0/ZenCoreCLR.dll
libs/ZenCommon/lib_msvc/1.0.0.0/ZenCommon.dll
libs/ZenCommon/lib_msvc/1.0.0.0/ZenCommon.lib
libs/ZenCoreCLR/lib/1.0.0.0/ZenCoreCLR.dll
libs/ZenCoreCLR/lib/1.0.0.0/ZenCoreCLR.lib
libs/.DS_Store
libs/ZenCommon/.DS_Store
.DS_Store
Elements/ZenNodeJS/node
.vs
ZenEngine/commit.txt
ZenEngine/cs_nodes_commit.txt
ZenEngine/templates
Elements/ZenGUI/algonia-webview/target
ZenEngine/web_view_core.dll
ZenEngine/main.dll
ZenEngine/debug.txt
